.bgheader {
    background-color: black;
    padding: 12px 0 12px 0;
    border-bottom: solid 1px gray;
}

.botaoalign{
    text-align: right;
}

.menu{
    text-align: center;
    margin-top: 17px;
}

.menulink{
    color: white;
    margin-right: 15px;
    border-right: solid 1px #525252;
    border-left: solid 1px #525252;
    padding: 10px;
}

.menulink:hover{
    color: white;
    text-decoration: none;
}

.botao{
    background-color: black;
    border: solid 1px;
    color: white;
    padding: 15px;
    cursor: pointer;
    font-family: "Univers Condensed", sans-serif;
    font-size: 20px;
}

.botao:hover{
    background-color: white;
    color: black;

}