.background{
    background-image: url("../../public/fundo-quinto-bloco.jpg");
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 95px;
}

.divider{
    background-color: white;
    height: 1px;
    width: 10%;
}