.background{
    background-image: url("../../public/fundo-quinto-bloco.jpg");
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 95px;
}

.divider{
    background-color: white;
    height: 1px;
    width: 10%;
}

.text2{
    color: white;
}

.text1{
    color: white;
    font-family: "Univers", sans-serif;
    text-transform: uppercase;
    font-size: 55px;
}