@font-face {
    font-family: "Univers Light Condensed";
    src: url("public/fonts/univers-light-condensed.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Univers Condensed Bold";
    src: url("public/fonts/univers-condensed-bold.ttf");
    font-style: normal;
}