@font-face {
    font-family: "Univers Light Condensed";
    src: url("public/fonts/univers-light-condensed.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Univers Condensed Bold";
    src: url("public/fonts/univers-condensed-bold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Univers Condensed";
    src: url("public/fonts/univers-condensed.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    font-style: normal;
    font-weight: bold;
    src: url('../public/fonts/UniversLTStd-BoldCn.otf') format('truetype');
}