.bgsessao{
    background-size: cover;
    width: 100%;
    height: 600px;
    background: rgb(8,10,10);
    background: linear-gradient(180deg, rgba(8,10,10,1) 35%, rgba(24,24,24,1)), url("../../public/fundo-primeiro-bloco.jpg");
}

.conheca{
    color: white;
    text-transform: uppercase;
}

.historia{
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    text-transform: uppercase;
    font-size: 50px;
}

.historia2{
    color: white;
    text-transform: uppercase;
    font-size: 52px;
    margin-top: -45px;
}

.linhasessao{
    padding: 35px;
}

.maquina{
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    text-transform: uppercase;
    font-size: 50px;
}

.texto{
    color: white;
    margin-bottom: 10px;
}

.botao{
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    margin-top: 10px;
    transition: background 0.5s;
    cursor: pointer;
}

.botao:hover{
    color: black;
    background-color: white;
}

.img{
    width: 100%;
    height: 120px;
}