.background{
    padding: 20px 55px 20px 55px;
    align-self: center;
}

.operacao{
    font-family: "Univers Bold", sans-serif;
    font-weight: bold;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    text-transform: uppercase;
    font-size: 100px;
    color: transparent;
}

.button{
    padding: 2px 60px 2px 60px;
    border-radius: 5px;
    font-family: "Univers Condensed", sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover{
    background-color: black;
    color: white;
}

.frase{
    font-family: "Univers Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 155px;
}